body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: #B468ff;
} 

header {
	max-width: 90%;
	margin: 0 auto;
}

header h1 {
	font-size: 24px;
	font-weight: normal;
	color: #FEFEFF;
}

header a {
	text-decoration: none;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: inline;
	margin: -1% 0%;
	padding: 2%;
}

header nav ul a {
	text-decoration: none;
	color: #303239;
}

header nav ul a:hover {
	color: #FEFEFF;
}

#selection {
	height: 100vh;
	background-image: url(img/frame.jpg);
	background-position:bottom;
	background-repeat: no-repeat;
}

#selection p {
	font-size: 24px;
	padding-top: 25%;
	color: #303239;
}

.character-page {
	width: 90%;
	margin: 0 auto;
}

.character-page .name {
	color: #F8E481;
}
}
